name: CI - Development Branch

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci-reusable.yml
    with:
      upload_coverage: true
      upload_artifacts: true
      coverage_retention_days: 7
      artifact_retention_days: 7
